# Clojure
/clojure/*/.cpcache

# C++
/cpp/*/build

# Dart
/dart/*/.dart_tool
/dart/*/.packages

# Exercism
/*/*/.exercism

# Elixir
/.elixir_ls/
/elixir/*/_build
/elixir/*/deps

# Erlang
/erlang/*/_build

# Haskell
/haskell/*/.stack-work

# Javascript
/javascript/*/node_modules

# Rust
/rust/*/target
/rust/*/Cargo.lock

# VScode
/.vscode/

# Wasm
/wasm/*/node_modules
